---
permalink: "/robots.txt"
---
User-agent: *
Allow: /

# Machine-readable catalog for coding agents:
#   {{ site.url }}/llms.txt
#   {{ site.url }}/servers.json
#   {{ site.url }}/install.md

Sitemap: {{ site.url }}/sitemap.xml
