---
permalink: "/sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/setup/</loc></url>
{%- for server in serversArray %}
  <url><loc>{{ site.url }}/servers/{{ server.id }}/</loc>{% if server.lastUpdated %}<lastmod>{{ server.lastUpdated }}</lastmod>{% endif %}</url>
{%- endfor %}
</urlset>
